.invisibles { /* Classe per tutti gli oggetti che al caricamento della pagina non devono essere visibili */
  display : none
}


.loginModal-header { /* Stile dell'intestazione di tutti i modal. Creata in principio per il modal del login */
  padding: 2px 16px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  color: white;
}

.modal-body {padding: 2px 16px;}

.exerciseDetail{ /* Classe per i dettagli degli allenamenti */
  background-color: #ffffb3;
}

/* Margini sia della pagina personale che del bottone per accedervi*/
#personal{
  margin-left:-10px;
}

#linkProfilo{
  margin-left:-20px;
}

/* Stile delle voci presenti nella barra di nagigazione a scomparsa */
.myNav-link{
  padding:.5rem 1rem;
  color : #9b9d99;
  text-decoration:none;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.myNav-link:hover{
  color:rgba(255,255,255,.75);
}

body,html{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  overflow:auto;
  font: 130% Arial, sans-serif;
}

.reservedAreaButton{ /* Bottone area riservata */
  background-color: #000099;
  color : #9b9d99;
}

.reservedAreaButton:hover{
  color:rgba(255,255,255,.75);
}

.controlWorkout{ /* Stile bottone di controllo del workout */
  background-color: #0d6efd;
  color: #ffffff;
  margin-top: 20%;
}

button.controlWorkout:disabled , button[disabled]{ /* Caso specifico in cui il pulsante sia disabilitato*/
  background-color: #a62219;
  border: 5px solid #8c1c14;
  border-radius: 5px;
}

.controlWorkout.sub{ /* Sottoclasse specifica per il modal di conferma di cancellazione */
  margin-top: 10px;
  border: 5px solid #000099;
  border-radius: 5px;
  width: 80px;
}

.saveButton{ /* Bottone di salvataggio workout */
  background-color: #0d6efd;
  color: #ffffff;
  flex: 1 1 0;
}

.saveButton:hover{
  background-color: #ffffb3;
  color: #000000;
}

.exercisePanel{ /* Stile dedicato agli esercizi che vengono mostrati nella pagina */
  border-color: #000099;
  border-radius: 10px;
  outline-style: solid;
  outline-color: #000099;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  -webkit-animation-name: popup;
  -webkit-animation-duration: 2s;
  animation-name: popup;
  animation-duration: 2s;
}

/* Animazioni dell'apparizione degli esercizi */
@-webkit-keyframes popup {
  from {display: none; opacity:0}
  to {display: block; opacity:1}
}

@keyframes popup {
  from {display: none; opacity:0}
  to {display: block; opacity:1}
}

.flex-container { /* Wrapper per eventuali elementi con elementi flex */
  display: flex;
  align-items: center;
}

.item { /* Stile delle voci dei dettagli degli esercizi che vengono richiesti */
  margin: 15px;
  padding: 5px;
  border: 1px solid blue;
	flex: 1 1 0;
  text-align: center;
  border-radius: 25px;
}

.workoutName{ /* Div dedicato al workout eseguito */
  margin: 10px;
  padding: 2px;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: #000099;
  font-size: 4em;
  flex: 1 1 0;
  -webkit-animation-name: popup;
  -webkit-animation-duration: 2s;
  animation-name: popup;
  animation-duration: 2s;
}

.youtubeItem { /* Stile del player di youtube */
  background-color: #ffffff;
  padding: 5px;
  border: 5px solid #000099;
  text-align: center;
  border-radius: 25px;
  -webkit-animation-name: popup;
  -webkit-animation-duration: 2s;
  animation-name: popup;
  animation-duration: 2s;
}

/* Stile dedicato alla lista che appare nel modal del tutorial */
ul.customListItem{
  list-style:none; /* Rimuovo gli stili di default dalla lista */
}

ul.customListItem li::before{ /* Con questo pseudo elemento specifico che prima di un li ci va l'icona */
  content: url('../images/dumb_icon.png');
  padding-top: 8px;
}

ul.customListItem > li { /* Per tutti gli li figli di ul.customListItem */
    display: flex;
}

li.customListItem{
  margin-bottom: 10px;
}

.scroll-section { /* scrollbar customizzata */
  max-height: 400px;
  overflow-y: auto;
  border-radius: 5px;
}

.scroll-section::-webkit-scrollbar {
  width: 5px;
}

.scroll-section::-webkit-scrollbar-track {
  background: #000099;
  border-radius: 5px;
}

.scroll-section::-webkit-scrollbar-thumb {
  background: #ffffb3;
  border-radius: 5px;
}

/* Select da wrappare in un div con questa classe per la "tendina" custom */
select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalizzo */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #000099;
  background-image: none;
  cursor: pointer;
}

select::-ms-expand { /* Resetto rendo invisibile il pulsante di dropdown di default */
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 10em;
  height: 2.5em;
  margin-left: 10px;
  border-radius: .25em;
  overflow: hidden;
}

.select::after { /* Customizzo la freccia di dropdown del select */
  content: '\25BC'; /* Freccia del select. è una entità di css */
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}

.select:hover::after {
  color: #f39c12;
}

.personalArea{ /* classe relativa al body della pagina personale. Usata per l'immagine di sfondo */
  background-image: url("../images/wallPaperPersonal.png");
  /* Centro e scala dell'immagine */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spanItem{ /* Elementi di span che rappresentano le statistiche utente*/
  display: table;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffb3;
  border: 5px solid #000099;
  margin-top: 5px;
}

.substitutionItem{ /* Classe dedicata ai div che trattano le propedeutiche agli esercizi */
  border-left: 5px solid #000099;
  border-right: 5px solid #000099;
  border-radius: 5px;
  color: #ffffff;
  padding: 100px 20px;
}
/* Selettori che cambiano colore a seconda del div */
.substitutionItem:nth-child(odd){
  background-color: #e4afcd;
}

.substitutionItem:nth-child(even){
  background-color: #9cbae6;
}

.myFooter{
  padding:.5rem 1rem;
  bottom : 0;
  left: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

p:only-child{
  color : #9b9d99;
  text-decoration:none;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  font-size: 20px;
}

.deleteButton{ /* Pulsante di eliminazione del workout */
  color: #ffffff;
  background-color: #a62219;
  border: 5px solid #8c1c14;
  border-radius: 5px;
  margin-top: 10px;
}

.deleteButton.confirm{ /* Sottoclasse utilizzata per il pulsante nel modal di conferma eliminazione */
  width: 80px;
}

.deleteButton:hover{
  color: #9b9d99;
}
