#app { /* Gestisco il div dedicato al timer */
  font-family: sans-serif;
  display: grid; /* Grid container di css */ 
  height: 50vh; /* vh sta per viewport height */
  place-items: center;
}

.base-timer { /* Definisce la posizione del container del timer */
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg { /* Per il tag SVG , ridimensiona l'oggetto rispetto all'asse x  ed assicura che l'animaione vada da sinistra a destra*/
  transform: scaleX(-1);
}

.base-timer__circle { /* Resetta le proprietà del cerchio e del suo contorno */
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed { /* Creo lo sfondo grigio del cerchio */
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining { /* Questa classe invece gestisce la linea che fa scorrere il tempo */
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

/* Le sottoclassi ne determinano il colore al variare dello script in base al tempo rimanente */
.base-timer__path-remaining.blue {
  color : #000099;
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label{  /* Classe relativa al display del tempo */
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

/* Media query per le dimensioni del timer */
@media screen and (max-width: 992px) , (max-height: 600px) {
  .base-timer {
    width: 200px;
    height: 200px;
  }

  .base-timer__label {
    width: 200px;
    height: 200px;
  }
}
